<h1>Listing current tasks</h1>

<table class="listing">
  <thead>
    <th colspan="2">Priority</th>
    <th>Title</th>
    <th>Done</th>
    <th colspan="3">Actions</th>
  </thead>

<% @tasks.each do |task| %>
  <tr <%= raw('class="done"') if task.done? %>>
    <td><%= link_to "[UP]", move_up_url(:id => task.id), :remote => true, :class => "move_up" %></td>
    <td><%= link_to "[DOWN]", move_down_url(:id => task.id), :remote => true, :class => "move_down" %></td>
    <td><%= task.title %></td>
    <td class="task-status">
      <%= link_to_if(task.done?, raw('<img src="/images/done.png" alt="[YES]" title="Yes">'),
                     toggle_status_url(:id => task.id), :remote => true, :class => "toggle_status" ) do
                       link_to(raw('<img src="/images/pending.png" alt="[NO]" title="No">'),
                       toggle_status_url(:id => task.id), :remote => true, :class => "toggle_status" )
          end
      %>    
    </td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Now I will Handle My Sh*t!', :do_tasks, :class => "btn btn-primary" %>

<br><br>

<%= link_to 'New Task', new_task_path, :class => "btn" %>
<%= link_to 'New Task List', :new_task_list_path, :class => "btn" %>

